$primary: #1DA1F2;
$bg-primary: #f9f8f3;


$btn-primary: #1DA1F2;
$btn-link: #00796b;
$text-secondary: #757575;
$bg-secondary: #d7f5f5;





@import '../../node_modules/bootstrap/scss/bootstrap.scss';